.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.flex-row-container {
  display: flex;
  height: 1.2rem;
}

.inner-container {
  padding: 0 5rem 0 1rem;
  height: 1rem;
  position: relative;
}

.vertically-centered {
  margin: 0;
  position: absolute;
  top: 50%;
}